<nb-card>
    <nb-card-header>
        Login
    </nb-card-header>
    <nb-card-body>
            <div style="margin-bottom: 10px; text-align:left;">
                Benutzername oder E-Mail<span style="color:lightblue;">*</span>
            </div>
        <input  type="text" (input)="this.Username = $event.target.value" nbInput fullWidth fieldSize="large" placeholder="Moodle Benutzername" status="danger">
        <br/>
        <!--<input type="password" placeholder="Passwort"> NOT REQUIRED LUL -->
        <br/>
        <button nbButton status="primary" (click)="this.Login();">Einloggen</button>
        <!--<p>Anmelden als: {{this.Username}}!</p> -->
    </nb-card-body>
</nb-card>
