<nb-card>
    <nb-card-header>
        Login
    </nb-card-header>
    <nb-card-body>
            <div style="margin-bottom: 10px; text-align:left;">
                Benutzername oder E-Mail<span style="color:red;">*</span>
            </div>
        <input  type="text" (input)="this.Username = $event.target.value" nbInput fullWidth fieldSize="large" placeholder="Moodle E-Mail" status="danger">
        <br/>
        <div *ngIf="this.PasswordFieldVisible" style="margin-bottom: 10px; margin-top: 10px; text-align:left;">
          Passwort<span style="color:red;">*</span>
      </div>
        <input *ngIf="this.PasswordFieldVisible" type="password" placeholder="Passwort" (input)="this.Password = $event.target.value" nbInput fullWidth fieldSize="large" placeholder="Passwort..." status="danger" style="margin-bottom: 10px;">
        <br/>
        <button hero fullWidth nbButton status="primary" (click)="this.Login();">Einloggen</button>
    </nb-card-body>
</nb-card>
