<!-- Foreach Group-->
<div id="groupContainer" *ngIf="this.loaded">
  <nb-accordion *ngFor="let group of this.userGroups">
  <nb-accordion-item>
    <nb-accordion-item-header>
      <h5 class="tasksGroupHeader"><fa-icon style="float:left; margin-right:25px;" [icon]="this.groupsIcon"></fa-icon> {{group.name}}</h5>
    </nb-accordion-item-header>
    <nb-accordion-item-body style="border: solid 2px #598bff;background-color:#1a2138;">
      <app-dashboard-group-board [group]="group"></app-dashboard-group-board>
    </nb-accordion-item-body>
  </nb-accordion-item>
  </nb-accordion>
</div>
