@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,
  // accordion-item-background-color:#598bff,
  accordion-item-background-color:#003161,
  button-filled-primary-active-border-color:#ffffff,
  button-filled-primary-focus-border-color: #ffffff,
  button-hero-primary-glow-color: #ffffff,
  button-hero-primary-bevel-color: #ffffff,
  // header-background-color: #edf1f7,
  tabset-tab-text-color: white,
  accordion-header-border-color:#ffffff,
  // layout-background-color: #666666,
  layout-background-color: #edf1f7,
  tabset-tab-font-size: 24px,
  tree-grid-row-background-color: #edf1f7,
  tree-grid-row-even-background-color: #c7cbd1,
  accordion-header-text-line-height: 5em
  //footer-background-color: #edf1f7
  //tabset-background-color:#598bff


), dark, dark);
