
<div id="tasksBoard">

  <nb-accordion> <!-- multi-->
      <nb-accordion-item>
        <nb-accordion-item-header>
          <h5 class="tasksGroupHeader">
              <fa-icon style="float:left; margin-right:25px;" [icon]="this.userTasksIcon"></fa-icon>
              Mein Board</h5>
        </nb-accordion-item-header>
        <nb-accordion-item-body style="background-color:#1a2138;">
      <div cdkDropListGroup>
        <div class="example-container">
            <h4 class="taskHeader">OFFEN<fa-icon style="float:right; margin-right:25px;" [icon]="this.openTasksHeaderIcon"></fa-icon></h4>
            <div
              id="myOpenTasks"
              cdkDropList
              [cdkDropListData]="openTasksRow"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListEnterPredicate]="noReturnPredicate">
              <div
                class="example-box"
                *ngFor="let task of openTasksRow"
                [cdkDragData]="task"
                cdkDrag>
                <!-- TASK -->
                <!-- Title-->
                <div><span nbTooltipStatus="primary" nbTooltip="Aufgaben Titel bearbeiten">
                  <input type="text" [value]="task.title" class="textboxBorder"
                    (input)="task.title = $event.target.value"/>
                </span>
                  <fa-icon (click)="this.RemoveTaskFromMyBoard(task.id, 0)" class="hoverCursorInteract" style="float:right;" [icon]="this.removeTaskIcon" nbTooltipStatus="danger" nbTooltip="Aufgabe löschen" alt="Aufgabe löschen"></fa-icon></div>
                <hr>
                <!-- Description-->
                <div nbTooltipStatus="primary" nbTooltip="Aufgaben Beschreibung bearbeiten">
                  <textarea class="textboxBorder" [value]="task.description"
                   (input)="task.description = $event.target.value"
                    (focusout)="this.ChangedTaskDescription(task.id, task.description)"></textarea>
                  </div> <!-- (focus)="focusFunction()"-->
                  <!-- Assigned Too (not required on "my board")-->
                <!-- <div nbTooltipStatus="primary" nbTooltip="Zuweisung ändern" style="vertical-align: text-bottom;">
                Zugeordnet zu:
              </div>-->
              </div>
              <div style="margin-top: 20px; margin-bottom:20px; padding-right: 5px; padding-left: 5px;">
                  <button hero (click)="AddTaskToMyBoard(0)" fullWidth nbButton status="primary">
                      <nb-icon icon="plus-outline"></nb-icon>
                      Aufgabe hinzufügen
                      </button>
              </div>
            </div>
        </div>
          <div class="example-container">
            <h4 class="taskHeader">IN ARBEIT <fa-icon style="float:right; margin-right:25px;" [icon]="this.inProgressHeaderIcon"></fa-icon></h4>
            <div
            id="inProgressTasksRow"
            cdkDropList
            [cdkDropListData]="inProgressTasksRow"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="noReturnPredicate">
            <div
              class="example-box"
              *ngFor="let task of inProgressTasksRow"
              [cdkDragData]="task"
              cdkDrag>
              <!-- TASK -->
              <!-- Title-->
              <div><span nbTooltipStatus="primary" nbTooltip="Aufgaben Titel bearbeiten">{{task.title}}</span>
                <fa-icon (click)="this.RemoveTaskFromMyBoard(task.id, 1)" class="hoverCursorInteract" style="float:right;" [icon]="this.removeTaskIcon" nbTooltipStatus="danger" nbTooltip="Aufgabe löschen" alt="Aufgabe löschen"></fa-icon></div>
              <hr>
              <!-- Description-->
              <div nbTooltipStatus="primary" nbTooltip="Aufgaben Beschreibung bearbeiten">
                  {{task.description}}
                </div>
                <!-- Assigned Too (not required on "my board")-->
              <!-- <div nbTooltipStatus="primary" nbTooltip="Zuweisung ändern" style="vertical-align: text-bottom;">
              Zugeordnet zu:
            </div>-->
            </div>
            <div style="margin-top: 20px; margin-bottom:20px; padding-right: 5px; padding-left: 5px;">
                <button hero class="removeActiveBorder" (click)="AddTaskToMyBoard(1)" fullWidth nbButton status="primary">
                    <nb-icon icon="plus-outline"></nb-icon>
                    Aufgabe hinzufügen
                    </button>
            </div>
          </div>
            </div>
            <div class="example-container">
                <h4 class="taskHeader">FERTIG <fa-icon style="float:right; margin-right:25px;" [icon]="this.doneHeaderIcon"></fa-icon></h4>

                <div
                id="myDoneTasks"
                cdkDropList
                [cdkDropListData]="doneTasksRow"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListEnterPredicate]="noReturnPredicate">
                <div
                  class="example-box"
                  *ngFor="let task of doneTasksRow"
                  [cdkDragData]="task"
                  cdkDrag>
                  <!-- TASK -->
                  <!-- Title-->
                  <div><span nbTooltipStatus="primary" nbTooltip="Aufgaben Titel bearbeiten">{{task.title}}</span>
                    <fa-icon (click)="this.RemoveTaskFromMyBoard(task.id, 2)" class="hoverCursorInteract" style="float:right;" [icon]="this.removeTaskIcon" nbTooltipStatus="danger" nbTooltip="Aufgabe löschen" alt="Aufgabe löschen"></fa-icon></div>
                  <hr>
                  <!-- Description-->
                  <div nbTooltipStatus="primary" nbTooltip="Aufgaben Beschreibung bearbeiten">
                      {{task.description}}
                    </div>
                    <!-- Assigned Too (not required on "my board")-->
                  <!-- <div nbTooltipStatus="primary" nbTooltip="Zuweisung ändern" style="vertical-align: text-bottom;">
                  Zugeordnet zu:
                </div>-->
                </div>
                <div style="margin-top: 20px; margin-bottom:20px; padding-right: 5px; padding-left: 5px;">
                    <button hero (click)="AddTaskToMyBoard(2)" fullWidth nbButton status="primary">
                        <nb-icon icon="plus-outline"></nb-icon>
                        Aufgabe hinzufügen
                        </button>
                </div>
              </div>
</div>
</div>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <!-- Foreach Group from User -->
      <nb-accordion-item>
        <nb-accordion-item-header>
          <h4 class="tasksGroupHeader"><fa-icon style="float:left; margin-right:25px;" [icon]="this.groupsIcon"></fa-icon> Gruppen</h4>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Group Task Board
        </nb-accordion-item-body>
      </nb-accordion-item>

    </nb-accordion>
