<nb-card status="primary" *ngIf="!this.classSelected">
  <nb-card-header>
      Klasse auswählen
  </nb-card-header>
  <nb-card-body>
      <nb-select [(selected)]="this.selectedClass" placeholder="Klasse auswählen">

         <nb-option *ngFor="let class of this.allClasses" value="{{class}}">{{class}}</nb-option>
      </nb-select>
      <button  style="margin-left: 10px;" (click)="this.SearchForClass()" nbButton status="primary">Schüler zeigen</button>
  </nb-card-body>
</nb-card>

<nb-card status="primary" *ngIf="this.classSelected">
    <nb-card-header>
Benutzer auswählen
<button style="float:right;" size="small" nbTooltipStatus="primary" nbTooltip="Zurück zur Klassenauswahl!" (click)="this.ResetClassSelected()" nbButton status="primary"><fa-icon [icon]="this.backButtonIcon"></fa-icon></button>

    </nb-card-header>
    <nb-card-body>

      <nb-select [(selected)]="this.selectedUser" multiple placeholder="Schüler auswählen">
      <nb-option *ngFor="let user of this.allUser" value='{{user.id}}'>{{user.lastName + ' ' + user.firstName}}</nb-option>
      </nb-select>
      <button style="margin-left:10px;" (click)="this.AddSelectedUserToGroup()" nbButton status="primary">zur Gruppe Hinzufügen</button>
    </nb-card-body>
</nb-card>
