.hoverEffect tr:hover {
  background-color: #487fff;
  opacity: 1;
  color:white;
}

.hoverCursor fa-icon:hover {
    cursor: zoom-in;
}

.hoverCursorInteract fa-icon:hover {
  cursor: pointer;
}

.hoverCursorBlocked fa-icon:hover {
  cursor: not-allowed;
}
