<nb-card *ngIf="!this.classSelected">
    <nb-card-header>
        <h4 class="hoverCursor" style="float:left;">Gruppen</h4>
        <button style="float: right;" (click)="this.ShowAddGroupWindow()" nbButton status="primary">Gruppe hinzufügen</button>

    </nb-card-header>
<nb-card-body>

    <div *ngIf="!this.loaded">
      Lade Gruppen....
    </div>

<div *ngIf="this.loaded">
<div>
  <div style="float:right; margin-top:15px;">
    <label class="search-label" for="search"></label>
    <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" style="margin-left: 5px; margin-bottom:10px;" placeholder="Suchen....">
</div>
      <table class="hoverEffect" [nbTreeGrid]="dataSource" [nbSort]="this.dataSource" (sort)="updateSort($event)" style="border-bottom:1pt solid black; border:0;">
          <tr style="color: white; background-color: #2868ff" nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
        <tr nbTreeGridRow clickToToggle="true" *nbTreeGridRowDef="let row; columns: allColumns"></tr>

        <ng-container [nbTreeGridColumnDef]="this.customColumn">
         <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{customColumn}}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" class="">
            <!-- 1# Custom Column -->
              <!-- Gruppen Icon -->
              <span class="hoverCursor">
                <fa-icon *ngIf="this.row.data.type == 1" [icon]="this.groupIcon"></fa-icon>
              </span>

              <!-- Benutzer Icon -->
              <span class="hoverCursorBlocked">
                <fa-icon *ngIf="this.row.data.type==2" [icon]="this.userIcon"></fa-icon>
              </span>

             {{row.data.name}}
          </td>
        </ng-container>

        <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
            <th style="color:white" nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <div *ngIf="row.data.type == 2 && column == 'Aktionen'">
              <!-- Benutzer Interaktionsbuttons -->
                <span class="hoverCursorInteract" (click)="this.DeleteUserFromGroup(row.data.groupId, row.data.id);">
                  <fa-icon  [icon]="this.deleteUserIcon" nbTooltipStatus="danger" nbTooltip="Benutzer aus Gruppe entfernen" alt="Benutzer aus Gruppe entfernen"></fa-icon>
                  </span>
            </div>
            <!-- Beschreibungs Spalte-->
            <div *ngIf="row.data.type == 1 && column == 'Beschreibung'" >
              {{row.data.description}}
            </div>
            <div *ngIf="row.data.type == 1 && column == 'Aktionen'" >
              <!-- Gruppen Interaktionsbuttons -->
              <span class="hoverCursorInteract">
                <fa-icon [icon]="this.trashIcon" (click)="this.DeleteGroup(row.data.id)" nbTooltipStatus="danger" nbTooltip="Gruppe löschen" alt="Gruppe löschen"></fa-icon>

                <fa-icon [icon]="this.addUserIcon" (click)="this.ShowAddUserWindow()" style="margin-left: 10px;" nbTooltipStatus="primary" nbTooltip="Benutzer der Gruppe hinzufügen" alt="Benutzer der Gruppe hinzufügen"></fa-icon>
               
                <fa-icon [icon]="this.editGroupIcon" (click)="this.ShowEditGroupWindow(row.data.id, row.data.name, row.data.description)" style="margin-left: 10px;" nbTooltipStatus="primary" nbTooltip="Gruppe bearbeiten" alt="Gruppe bearbeiten"></fa-icon>
              </span>
              </div>

             <!--{{row.data[column]}}-->
          </td>
        </ng-container>


      </table>

</div>
</div>
    </nb-card-body>
    </nb-card>
